<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.Forum_UserDao">

    <select id="getForum_UserList" resultType="com.example.pojo.Forum_User">
        select * from mydb.Forum_User;
   </select>

    <select id="getOneForum_UserList" resultType="com.example.pojo.Forum_User">
        select * from mydb.Forum_User where forum_name = #{forum_user_name};
   </select>

    <select id="getOneForum_Email_UserList" resultType="com.example.pojo.Forum_User">
        select * from mydb.Forum_User where forum_email = #{forum_user_email};
   </select>

    <select id="getOneForum_UserList_Email" resultType="com.example.pojo.Forum_User">
        select * from mydb.Forum_User where forum_email = #{forum_user_email} AND forum_pwd=#{forum_user_pwd};
   </select>

    <select id="getForum_User_Count" resultType="int">
        select count(*) from mydb.Forum_User;
    </select>

    <select id="addForum_UserList" resultType="com.example.pojo.Forum_User">
        insert into mydb.Forum_User(forum_name,forum_pwd,forum_email) value (#{forum_name},#{forum_pwd},#{forum_email});
   </select>

    <select id="updateForum_UserList" resultType="com.example.pojo.Forum_User">
       update mydb.Forum_User set forum_name=#{forum_name} where forum_id=#{forum_id};
   </select>

    <select id="updateForum_UserEmailList" resultType="com.example.pojo.Forum_User">
       update mydb.Forum_User set forum_name=#{forum_name},forum_email=#{forum_email} where forum_id=#{forum_id};
   </select>

    <select id="updateForum_UserEmailPwdList" resultType="com.example.pojo.Forum_User">
       update mydb.Forum_User set forum_name=#{forum_name},forum_email=#{forum_email},forum_pwd=#{forum_pwd} where forum_id=#{forum_id};
   </select>

    <select id="deleteForum_UserList" resultType="com.example.pojo.Forum_User">
        delete from mydb.Forum_User where forum_name=#{forum_name};
   </select>


</mapper>